# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
input/logs/
logic/logs/

# Training data and models
train_data/
models/
videos/
runs/
videos/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Misc
*.bak

*.out
upload_model.py
upload_dataset.py
